@import url("./contacts.css");

.app_header.webix_header{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20vw;
    text-transform:capitalize;
    font-size: 24px;
}
.app_layout.webix_layout_clean{
	background: #EBEDF0;
}
.app_start .webix_template{
	padding:12px 12px;
}
.app_menu{
    margin-top: 0 !important;
    margin-left: 1px !important;
    height: auto !important;
    width: auto !important;
}
.app_menu .webix_list_item{
    font-size: 16px;
    height: 45px !important;
    line-height: 45px;
}
.app_menu .webix_list_item .item{
    margin-left: 5px;
}
.app_menu .webix_list_item .fas{
    width: 30px;
    font-size: 20px;
    text-align: center;
}