.contacts-list{
    display: flex;
    align-items: center;
}
.contacts-list_photo{
    height: 45px;
    width: 45px;
    font-size: 40px;
    border: 2px solid #475466;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    overflow: hidden;
}
.contacts-list_info{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.contacts-list_name{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: -10px;
}
.contacts-list_company{
    font-size: 12px;
    font-style: italic;
}

.contacts-template_name{
    font-size: 26px;
    padding: 0 0 0 10px;
    font-weight: 500;
}

.contacts-template{
    display: flex;
    flex-direction: column;

}
.contacts-template_first-row{
    padding-top: 30px;
}
.contacts-template_second-row{
    display: flex;
    align-items: center;
}
.contacts-template_photo{
    width: 150px;
    height: 150px;
    border: 2px solid #475466;
    margin-right: 60px;
    font-size: 150px;
    text-align: center;
    line-height: 45px;
    overflow: hidden;
}
.contacts-template_info{
    display: flex;
    font-size: 16px;
    height: 100%;

    width: 400px;
    display: flex;
    justify-content: space-between;
}
.contacts-template_info ul{
    list-style-type: none;
    padding: 0;
}
.contacts-template_info ul li:nth-of-type(2n){
    margin: 20px 0;
    
}
.contacts-template_info span{
    width: 20px;
    margin-right: 10px;
}
.contacts-template_status{
    padding-left: 60px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #475466 !important;
    border-radius: 5px !important;
    background-color: transparent !important;
}
.btn button{
    border: 1px solid #475466 !important;
}
.btn button:hover{
    background-color: #8189a7a2 !important;
}
button .webix_icon_btn{
    font-size: 16px;
    color: #475466 !important;
}